li{
    border-radius: 90%;
    color: white;
    border: 10px solid white;
    margin: 5px;

}

.first-page{
    border: 10px solid pink;
    color: pink;
}


ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.ul{
    display: flex;
    justify-content: center;
    position: relative;
    top: 73.5%;
    align-items: center;
}


body {
    background-image: url('images\\image1.jpg');
    background-position: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(71, 71, 71);
}

.main-header{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-family: "Candal", sans-serif;
    color: #FFFFFF;
    font-weight: 1000;
}


footer {
    display: flex;
    width: 100%;
    height: 8%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    flex-direction: row;
}

.address p{
    padding-left: 17px;
}

.address {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-align: justify;
    justify-self: center;
}

.navigation {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-align: justify;
    justify-self: center;
}

.line {
    height: 18px;
    border-left:  3px solid #b0b0b0;
    padding-right: 30px;
  }

.navigation p{
    padding-right: 35px;
}

.navigation img{
    padding-right: 40px;
}

.navigation img:hover{
    rotate: 10deg;
}

Доделать надо по фастику дизайн